<div class="product__sidebar">
    <div class="product__sidebar__view">
        <div class="section-title">
            <h5>Top Views</h5>
        </div>
        <ul class="filter__controls">
            <li class="active">Day</li>
            <li>Week</li>
            <li>Month</li>
            <li>Years</li>
        </ul>
        <div class="filter__gallery">
            {% for animeProduct in animeProducts %}
                <div class="product__sidebar__view__item set-bg mix day years"
                    data-setbg="{{ animeProduct.image.url }}">
                    <div class="ep">18 / ?</div>
                    <div class="view"><i class="fa fa-eye"></i> 9141</div>
                    <h5><a href="#">Boruto: Naruto next generations</a></h5>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



